<section class="bar no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="img/save_the_date.webp" width="95%" style="max-width: 1920px">
                <p>&nbsp;</p><p>&nbsp;</p>
                <h3 class="text-uppercase">FLoC'26 Conferences</h3>
                <table class="table table-dark table-bordered text-left table-striped" style="background-color: blanchedalmond;">
                    <thead><tr><th>Conference</th><th>Week</th></tr></thead>
                    <tr><td>38th International Conference on Computer Aided Verification (CAV)</td><td>Week 2</td></tr>
                    <tr><td>32nd International Conference on Principles and Practice of Constraint Programming (CP)</td><td>Week 1</td></tr>
                    <tr><td>39th IEEE Computer Security Foundations Symposium (CSF)</td><td>Week 2</td></tr>
                    <tr><td>11th International Conference on Formal Structures for Computation and Deduction (FSCD)</td><td>Week 1</td></tr>
                    <tr><td>42nd International Conference on Logic Programming (ICLP)</td><td>Week 1</td></tr>
                    <tr><td>13th International Joint Conference on Automated Reasoning (IJCAR)</td><td>Week 2</td></tr>
                    <tr><td>17th International Conference on Interactive Theorem Proving (ITP)</td><td>Week 2</td></tr>
                    <tr><td>23th International Conference on Principles of Knowledge Representation and Reasoning (KR)</td><td>Week 1</td></tr>
                    <tr><td>41st Annual ACM/IEEE Symposium on Logic in Computer Science (LICS)</td><td>Week 1</td></tr>
                    <tr><td>29th International Conference on Theory and Applications of Satisfiability Testing (SAT)</td><td>Week 1</td></tr>
                </table>
            </div>
        </div>
    </div>
</section>