<section class="bar no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-uppercase">Save the date!</h3>
                <p class="text-center">
                    FLoC'26 will be held in July in Lisbon, Portugal.
                </p>
                <p class="text-center">
                    Summer school: 13-17<br>
                    Conferences: 20-23 &amp; 26-29<br>
                    Workshops: 18-19 &amp; 24-25
                </p>
            </div>
        </div>
    </div>
</section>